[submodule "deps/3rd/libevent"]
	path = deps/3rd/libevent
	url = https://github.com/libevent/libevent
[submodule "deps/3rd/jsoncpp"]
	path = deps/3rd/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp
[submodule "deps/3rd/googletest"]
	path = deps/3rd/googletest
	url = https://github.com/google/googletest
[submodule "deps/3rd/benchmark"]
	path = deps/3rd/benchmark
	url = https://github.com/google/benchmark
[submodule "deps/third_dels/sled_ffi"]
	path = deps/third_dels/sled_ffi
	url = https://github.com/JW-Gao/sled_ffi.git
[submodule "deps/third_dels/sled"]
	path = deps/third_dels/sled
	url = https://github.com/JW-Gao/sled_htap.git
